@model List<Dish>
<div class="container">
    <div class="row">
        @foreach (Dish dish in Model)
        {
            string idOfDish = dish.GetType().ToString().Split(".").Last() + "_" + dish.Id;

            string cardClasses = "col-3 dish_card";

            if (dish is Pizza)
            {
                cardClasses += " pizza_card";
            }

            if (dish is Drink)
            {
                cardClasses += " drink_card";
            }

            string dishImagePath = Url.Content("~/img/" +
                $"{dish.GetType().ToString().Split(".").Last()}/" +
                $"{dish.ImageId}.png");

            if (ViewBag.DishesSizes[idOfDish].Count > 1)
            {
                <div class="@cardClasses" id="@idOfDish">
                    <h2 class="up_h2">@dish.Name</h2>
                    <div class="dish_price">от @ViewBag.DishesPrices[idOfDish][0] руб.</div>
                    <div class="imgBox">
                        <img src=@dishImagePath alt="@dish.Name" srcset="" width="270" height="270">
                    </div>
                    <div class="content">
                        <h2 class="down_h2">@dish.Name</h2>
                        <div class="size">
                            <form>
                                @{
                                    int index = 0;
                                    foreach (var size in ViewBag.DishesSizes[idOfDish])
                                    {
                                        <div class="form_radio_btn">
                                            <input id="radio-@idOfDish-@index" type="radio" name="size" value="@size">
                                            <label for="radio-@idOfDish-@index">@size</label>
                                        </div>
                                        index++;
                                    }
                                }
                            </form>
                        </div>
                        <button class="toBasket" onclick="addToBasketSingle(this)">
                            <i class="fas fa-shopping-basket"></i>
                        </button>
                    </div>
                </div>
            }
            else
            {
                <div class="@cardClasses" id="@idOfDish">
                    <h2 class="up_h2">@dish.Name</h2>
                    <div class="dish_price">от @dish.Id руб.</div>
                    <div class="imgBox">
                        <img src=@dishImagePath alt="@dish.Name" srcset="" width="270" height="270">
                    </div>
                    <div class="content">
                        <h2 class="down_h2">@dish.Name</h2>
                        <button class="toBasket" onclick="addToBasketSingle(this)">
                            <i class="fas fa-shopping-basket"></i>
                        </button>
                    </div>
                </div>
            }
        }
    </div>
</div>
