@model List<Pizza>
<div class="container">
    <div class="row">
        @foreach (Pizza pizza in Model)
        {
            <div class="col-3 dish_card pizza_card" id="pizza_@pizza.Id">
                <h2 class="up_h2">@pizza.Name</h2>
                <div class="dish_price">от @ViewBag.PizzasPrices[pizza.Id][0] руб.</div>
                <div class="imgBox">
                    @{
                        string dishImagePath = Url.Content($"~/img/Pizza/{pizza.ImageId}.png");
                    }
                    <img src=@dishImagePath alt="Кон Карне" srcset="" width="270" height="270">
                </div>
                <div class="content">
                    <h2 class="down_h2">@pizza.Name</h2>
                    <div class="size">
                        <form>
                            @{ 
                                int index = 0;
                                foreach (var size in ViewBag.PizzasSizes[pizza.Id])
                                {
                                    <div class="form_radio_btn">
                                        <input id="radio-@pizza.Id.ToString()@index" type="radio" name="size" value="@size">
                                        <label for="radio-@pizza.Id.ToString()@index">@size</label>
                                    </div>
                                    index++;
                                }
                              }
                        </form>
                    </div>
                    <button class="toBasket" onclick="addToBasketSingle(this)">
                        <i class="fas fa-shopping-basket"></i>
                    </button>
                </div>
            </div>
        }
    </div>
</div>
